@media (max-width: 768px) {
    .flex-container{
        flex-direction: column;
        justify-content: center;
    }
   .card{
    width: 95%;
    padding: 10px;
   }

   .features{
    max-width: 100%;
   }

    .features.highlight {
    transform: scale(1.02); /* smaller scale */
    box-shadow: 0 0 4px #00d1b2;
  }
  
    .card{
         transition: background-color 0.3s ease;
  
    }
      .card.active {
         transition: transform 0.5s, box-shadow 0.5s;
         box-shadow: 0 0 15px #00d1b2;
        z-index: 1;
      background-color: #333;
      color: #efefef;
    }

}