
 html{
  scroll-behavior: smooth;
 }
 body {
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 1.6;
      background-color: white;
      color: #333;
       /* 
      background-image: url("/media/bg.jpeg");
      background-size: cover;       
      background-position: center;  
      background-repeat: no-repeat;
      */
    }
    header {
      text-align: center;
      padding: 2rem 1rem;

      
      position: relative;
    }

  a{
    text-decoration: none;
    color:#333333 ;
    font-weight: 600;
  }

  footer a{
    color: #efefef;
  }



.logo img {
  max-width: 120px;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto; /* sentrer logoen og legg til avstand under */
}
    header, footer {
 
      padding: 2rem 1rem;
      text-align: center;
    }

    footer{
      background-color: #333333;
      color: #efefef;
    }
    .container {
      max-width: 1000px;
      margin: auto;
      padding: 2rem 1rem;
    }
    .features{
      max-width: 30%;
      max-height: 30%;
      transition: transform 0.3s, box-shadow 0.3s;
    }


.features.highlight {
  transform: scale(1.1);
  box-shadow: 0 0 15px #00d1b2;
  z-index: 1;
}


    .btn {
      display: inline-block;
      background: #333;
      color: #efefef;
      padding: 0.7rem 1.2rem;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 1rem;
    }

    .btn:hover{
         transition: transform 0.5s, box-shadow 0.5s;
        transform: scale(1.1);
        box-shadow: 0 0 15px #00d1b2;
        z-index: 1;
    }
    form input, form textarea {
      width: 100%;
      padding: 0.5rem;
      margin: 0.5rem 0 1rem 0;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    form button:hover{
       background: black;
      color:#efefef;
    }
    form button {
      background: #efefef;
      color: #333;
      border: none;
      padding: 0.7rem 1.2rem;
      border-radius: 5px;
      cursor: pointer;
    }

    .flex-container{
      display: flex;
      justify-content: space-between;
      gap: 2rem;
      max-width: 1000px;
      
    }



    .card{
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background-color: #efefef;
      width: 30%;
      padding: 1rem;
      color: #333;
      
    }

    .text-box{
      border-radius: 10px;
      color: #333333;
      padding: 1rem;
      box-shadow: 0 0 15px #333333;
    }


    .pris{
      margin-top: auto;
    }
ul {
  list-style: none;
  padding-left: 0; /* optional: remove left indent */
}